<nav>
    <ul>
        <li>
            <a class="navigation-item-left" href="./index.html">
                contributions
            </a>
        </li>
        <li>
            <a class="navigation-item-right" href="./about.html">
                about
            </a>
        </li>
    </ul>
</nav>
