<nav>
    <ul>
        <li>
            <a class="navigation-item-left" href="#articles">
                articles
            </a>
        </li>
        <li>
            <a class="navigation-item-right" href="#about">
                about
            </a>
        </li>
    </ul>
</nav>
