.about-contact {
    float: left;
    width: 100%;
    border-bottom: $borderW solid $border-color;
}


.about-contact-abbrev {
    width: 10%;
    float: left;
}


.about-contact-abbrev + * {
    width: 60%;
    float: left;
}
