.about-contributors {
    min-height: 100vh;

    @include bp-s {
        min-height: 0;
    }

    .name {
        font-size: $about-contributor-font-size;
        text-transform: uppercase;

        @include bp-s {
            font-size: $about-contributor-font-size-bps;
        }
    }

    .description {

    }

}
