.half-panel {
    position: relative;
    float: left;
    height: 100vh;


    @include bp-s {
        width: 100vw;
        height: auto;
    }
}


.expanded-view {

    .half-panel--right, .navigation-panel, .info-panel {
        width: $ganeral-main-panel;
    }
}


.half-panel--right {
    z-index: 2;
    float: right;
    width: $landing-right-panel;
    height: auto;
    border-left: $borderW solid $border-color;

    @include bp-s {
        float: left;
        border-left: none;
    }
}



.half-panel--left {
    width: $landing-left-panel;
    height: $object3D-h;

    &.stick {
        z-index: 1;
    }

    @include bp-s {
        width: 100vw;
        height: 100vh;
        border-right: none;
    }
}

.sticky .half-panel--left.stick {
    @include bp-s {
        position: relative;
    }
}