.half-panel {
    position: relative;
    float: left;
    height: 100vh;


    @include bp-s {
        width: 100vw;
        height: auto;
    }
}


.expanded-view {

    .half-panel--right, .info-panel {
        width: $ganeral-main-panel-with-border;
    }
}


.half-panel--right {
    z-index: 2;
    position: absolute;
    right: 0;
    width: $landing-right-panel;
    height: auto;
    padding-top: 100vh;

    @include bp-s {
        position: relative;
    }
}


.expanded-view {
    .half-panel--right {
        border-left: 0;
    }
}



.half-panel--left {
    width: $landing-left-panel;
    height: $object3D-h;
    padding-top: 100vh;

    &.stick {
        z-index: 1;
    }

    @include bp-s {
        width: 100vw;
        height: 100vh;
        border-right: none;
    }
}

.sticky .half-panel--left.stick {
    @include bp-s {
        position: relative;
    }
}