.half-panel {
    position: relative;
    float: left;
    height: 100vh;


    @include bp-s {
        width: 100vw;
        height: auto;
    }
}


.expanded-view {
    .half-panel--right, .info-panel {
        width: $ganeral-main-panel-with-border;
    }
}


.half-panel--right {
    z-index: 2;
    position: absolute;
    right: 0;
    width: $landing-right-panel;
    height: auto;
    transition: width 0.18s ease-out;

    @include bp-s {
        position: relative;
    }
}


.expanded-view {
    .half-panel--right {
        border-left: 0;
    }
}



.half-panel--left {
     z-index: 1;
    position: fixed;
    width: $landing-left-panel;
    height: $object3D-h;

    @include bp-s {
        width: 100vw;
        height: 100vh;
        border-right: none;
    }
}
