.intro-animation {
	position: relative;

	svg{
		position: absolute;
		top: 0%;
		left: 50%;
		transform: translate(-50%, 0%);
		height: 100vh!important;
		width: auto!important;
	}


	@include bp-s {
        svg{
			height: auto!important;
			width: 100vw!important;
			transform: translate(-50%, -25%);
		}
    }
	
}

//original-ratio: 1920 x 1080