.landing-logo-wrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100vw;
	padding: $gutter + 2px $gutter $gutter - 2px $gutter;
	height: calc(4vh + 2 * #{$gutter});
	background: $black;
	transition: 0.3s ease-out;

	&.fade-away {
		opacity: 0;
		transform: translateY(90%);
	}
}


.landing-logo {
	position: absolute;
	height: 4vh;
}


