.model-3d {
	position: relative;
	width: 50vw;
	height: 50vw;
	background-size: 100% 9100%;
	background-repeat: no-repeat;
	background-position: 0 0%;
}


@keyframes sprite {
	from { background-position: 0% 0%; }
	to { background-position: 0% 100%; }
}


.big-model {
    position: relative;
    width: 100%;
    height: $bigModelH;
}


.filter-1 {
    .model-3d {
		background-image:  url('../img/models/model-1-sprite.png');
	}
}


.filter-2 {
    .model-3d {
		background-image:  url('../img/models/model-2-sprite.png');
	}
}


.filter-3 {
    .model-3d {
		background-image:  url('../img/models/model-3-sprite.png');
	}
}


.filter-4 {
    .model-3d {
		background-image:  url('../img/models/model-4-sprite.png');
	}
}


.filter-5 {
    .model-3d {
		background-image:  url('../img/models/model-5-sprite.png');
	}
}


//TODO: crop images so that they only contain the model
//animation: sprite 5s 10s steps(90) forwards;
//margin: -5% auto 0 auto; /* positioning tweak */