.model {
  width: 50vw;
  height: 50vw;
  margin: -5% auto 0 auto; /* positioning tweak */
  background:  url('../img/models/model_2_vertical.png') no-repeat 0 0%;
  background-size: 100% 9100%;
  animation: sprite 5s 10s steps(90) forwards;
}

@keyframes sprite {
  from { background-position: 0% 0%; }
  to { background-position: 0% 100%; }
}
