.navigation-item-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: $project-overview-padding;
}


.navigation-item-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: $project-overview-padding;
}
