.navigation-item-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: $project-overview-padding;

    @include bp-s {
        padding: $project-overview-padding-bps;
    }
}


.navigation-item-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: $project-overview-padding;

    @include bp-s {
        padding: $project-overview-padding-bps;
    }
}
