.navigation-item-left {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: $gutter;
    padding-bottom: calc(#{$gutter} - 0.12 * #{$navigation-font-size});

    @include bp-s {
        padding: $gutter-bps;
    }
}


.navigation-item-right {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: $gutter;
    padding-bottom: calc(#{$gutter} - 0.12 * #{$navigation-font-size});

    @include bp-s {
        padding: $gutter-bps;
    }
}
