.object-selector-item {
    float: left;
    display: inline-block;
    width: 100%;
    height: 20%;    
    border-bottom: $borderW solid $border-color;
    background-color: $background;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);

    &:last-child {
        border: none;
    }

    &:hover, &.active { filter: grayscale(0%); }

    &:hover { cursor: pointer; }
}


.object-selector-home {
    
    .object-selector-item {
        width: 20%;
        height: 100%;
        border: none;    
        border-right: $borderW solid $border-color;

        &:last-child {
            border: none;
        }
    }
}


.load-assets{

    .object-selector-item:nth-child(1) {
        background-image:  url('../img/objects/object_0.png');
    }

    .object-selector-item:nth-child(2) {
        background-image:  url('../img/objects/object_1.png');
    }

    .object-selector-item:nth-child(3) {
        background-image:  url('../img/objects/object_2.png');
    }

    .object-selector-item:nth-child(4) {
        background-image:  url('../img/objects/object_3.png');
    }

    .object-selector-item:nth-child(5) {
        background-image:  url('../img/objects/object_4.png');
    }

}
