@keyframes pulse {
	0%   { opacity: 1; }
	5%   { opacity: 1; }
	95%  { opacity: 0.6; }
	100% { opacity: 0.6; }
} 


.object-3d-container {
	width: 50vw;
	height: $object3D-h;

	@include bp-s {
		position: relative;
        width: 100vw;
        height: $object3D-h;
    }
}


.object-3d {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45vw;
	height: 45vw;
	max-width: 750px;
	max-height: 750px;
	margin: 0 auto;
	//background-size: 100% 9100%;
	background-size: 100% 6200%;
	background-repeat: no-repeat;
	background-position: 0 0%;
	opacity: 0;

	@include bp-s {
      width: 100vw;
      height: 100vw;
    }
}


.object-3d-placeholder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45vw;
	height: 45vw;
	max-width: 750px;
	max-height: 750px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: opacity 0s 1s;
	pointer-events: none;
	animation: pulse 1s ease-in-out infinite alternate;


	@include bp-s {
      width: 100vw;
      height: 100vw;
    }
}


.sprite-loaded {
	.object-3d-placeholder { opacity: 0; animation: none; }
	.object-3d { opacity: 1; }
}


@keyframes sprite {
	from { background-position: 0% 0%; }
	to { background-position: 0% 100%; }
}





.big-object {
    position: relative;
    width: 100%;
    height: $object3D-h;
}

	
&.filter-0 {
    .object-3d-placeholder {
		background-image:  url('../img/objects/placeholder/object_0.png');
	}
}


&.filter-1 {
    .object-3d-placeholder {
		background-image:  url('../img/objects/placeholder/object_1.png');
	}
}


&.filter-2 {
    .object-3d-placeholder {
    	width: 37vw;
		height: 37vw;
		background-image:  url('../img/objects/placeholder/object_2.png');

		@include bp-s {
		      width: 75vw;
		      height: 75vw;
		    }
	}
}


&.filter-3 {
    .object-3d-placeholder {
		background-image:  url('../img/objects/placeholder/object_3.png');
	}
}


&.filter-4 {
    .object-3d-placeholder {
    	width: 41vw;
		height: 41vw;
		background-image:  url('../img/objects/placeholder/object_4.png');

		@include bp-s {
		      width: 82vw;
		      height: 82vw;
		    }
	}
}





&.filter-0 {
    .object-3d {
		background-image:  url('../img/objects/3d/medium/object_0_sprite.png');
	}
}


&.filter-1 {
    .object-3d {
		background-image:  url('../img/objects/3d/medium/object_1_sprite.png');
	}
}


&.filter-2 {
    .object-3d {
    	width: 37vw;
		height: 37vw;
		background-image:  url('../img/objects/3d/medium/object_2_sprite.png');

		@include bp-s {
	      width: 75vw;
	      height: 75vw;
	    }
	}
}


&.filter-3 {
    .object-3d {
		background-image:  url('../img/objects/3d/medium/object_3_sprite.png');
	}
}


&.filter-4 {
    .object-3d {
    	width: 41vw;
		height: 41vw;
		background-image:  url('../img/objects/3d/medium/object_4_sprite.png');

		@include bp-s {
	      width: 82vw;
	      height: 82vw;
	    }
	}
}




//TODO: crop images so that they only contain the object
//animation: sprite 5s 10s steps(90) forwards;
//margin: -5% auto 0 auto; /* positioning tweak */