.object-selector-item {
    float: left;
    display: inline-block;
    width: 100%;
    height: 20%;    
    border-bottom: $borderW solid $border-color;
    background-color: $background;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);

    &:last-child {
        border: none;
    }

    &:hover, &.active { filter: grayscale(0%); }

    &.active:hover { cursor: auto; }

    &:hover { cursor: pointer; }
}


.home-page:not(.expanded-view) {  
    .object-selector-item {
        width: calc((100% - 4 * #{$borderW}) / 5);
        height: 100%;
        border: none;    
        border-right: $borderW solid $border-color;
        box-sizing: content-box;

        &:last-child {
            border: none;
        }
    }
}


.object-selector-item:nth-child(1) {
    background-image:  url('../img/objects/thumbnail/m/object_0.png');

    @include bp-s {
        background-image:  url('../img/objects/thumbnail/s/object_0.png');
    }
}

.object-selector-item:nth-child(2) {
    background-image:  url('../img/objects/thumbnail/m/object_1.png');

    @include bp-s {
        background-image:  url('../img/objects/thumbnail/s/object_1.png');
    }
}

.object-selector-item:nth-child(3) {
    background-image:  url('../img/objects/thumbnail/m/object_2.png');

    @include bp-s {
        background-image:  url('../img/objects/thumbnail/s/object_2.png');
    }
}

.object-selector-item:nth-child(4) {
    background-image:  url('../img/objects/thumbnail/m/object_3.png');

    @include bp-s {
        background-image:  url('../img/objects/thumbnail/s/object_3.png');
    }
}

.object-selector-item:nth-child(5) {
    background-image:  url('../img/objects/thumbnail/m/object_4.png');

    @include bp-s {
        background-image:  url('../img/objects/thumbnail/s/object_4.png');
    }
}
