.object-3d {
	position: relative;
	width: 50vw;
	max-width: 1000px;
	height: 50vw;
	max-height: 1000px;
	margin: 0 auto;
	background-size: 100% 9100%;
	background-repeat: no-repeat;
	background-position: 0 0%;
}


@keyframes sprite {
	from { background-position: 0% 0%; }
	to { background-position: 0% 100%; }
}


.big-object {
    position: relative;
    width: 100%;
    height: $object3D-h;
}


.load-assets {
	
	&.filter-0 {
	    .object-3d {
			background-image:  url('../img/objects/object-0-sprite.png');
		}
	}


	&.filter-1 {
	    .object-3d {
			background-image:  url('../img/objects/object-1-sprite.png');
		}
	}


	&.filter-2 {
	    .object-3d {
			background-image:  url('../img/objects/object-2-sprite.png');
		}
	}


	&.filter-3 {
	    .object-3d {
			background-image:  url('../img/objects/object-3-sprite.png');
		}
	}


	&.filter-4 {
	    .object-3d {
			background-image:  url('../img/objects/object-4-sprite.png');
		}
	}

}



//TODO: crop images so that they only contain the object
//animation: sprite 5s 10s steps(90) forwards;
//margin: -5% auto 0 auto; /* positioning tweak */