.project-overview-item {
    float: right;
    width: 100%;
    border-bottom: $borderW solid $border-color;
    color: $project-overview-text-color;

    &:last-child {
        border: none;
    }

    &:hover {
        color: $project-overview-text-hover-color;
    }

    @include bp-s {
        color: $project-overview-text-hover-color;
    }

    a {
        float: left;
        width: 100%;
    }


    .saturated-img-container {
        position: relative;
        width: 40%;
        float: right;
        padding: $project-overview-padding;

        @include bp-s {
            width: 100%;
            padding: $project-overview-padding-bps;
        }
    }

    .project-img-grayscale {
        position: absolute;
        top: $project-overview-padding;
        left: $project-overview-padding;
        width: calc(99% - 2 * #{$project-overview-padding});
        height: calc(99% - 2 * #{$project-overview-padding});
        filter: grayscale(100%);
        opacity: 0.7;
    }

    .project-img-saturation {
        width: 100%;
        mix-blend-mode: saturation;
    }

    .project-img-overlay {
        position: absolute;
        top: $project-overview-padding;
        left: $project-overview-padding;
        width: calc(99% - 2 * #{$project-overview-padding});
        height: calc(99% - 2 * #{$project-overview-padding});
        background: rgba(255, 0, 0, 1);

        @include bp-s {
            top: $project-overview-padding-bps;
            left: $project-overview-padding-bps;
            width: calc(100% - 2 * #{$project-overview-padding-bps});
            height: calc(100% - 2 * #{$project-overview-padding-bps});
        }
    }


    .project-title-and-text {
        width: 40%;
        float: right;
        padding: $project-overview-padding;

        @include bp-s {
            width: 65%;
            padding: $project-overview-padding-bps;
        }
    }

    .project-title {
        text-transform: uppercase;
    }

    .project-creator-and-type {
        width: 20%;
        float: right;
        padding: $project-overview-padding;

        @include bp-s {
            width: 35%;
            padding: $project-overview-padding-bps;
        }
    }

    .project-creator {
        text-transform: uppercase;
    }

    .project-type {
        @include bp-s {
            display: none;
        }
    }
}
