$projectHeaderH: 100px;

.project {
    width: calc(100% - #{$side-model-selectorW});
    float: right;

    @include bp-s {
        width: 100%;
    }

    .navigation-panel {
        position: fixed;
        width: calc(100% - #{$side-model-selectorW});
        background: $background;
    }


    .project-header {
        position: fixed;
        top: $navigationPanelH;
        float: left;
        width: calc(100% - #{$side-model-selectorW});
        border-bottom: $borderW solid $border-color;
        background: $background;
    }


    .project-title {
        width: 70%;
        float: right;
        font-size: $project-title-font-size;
        text-transform: uppercase;

        @include bp-s {
            width: 100%;
            font-size: $project-title-font-size-bps;
        }
    }


    .project-type {
        width: 30%;
        float: right;
        font-size: $project-type-font-size;
        text-transform: capitalize;

        @include bp-s {
            display: none;
            font-size: $project-type-font-size-bps;
        }
    }

    .project-content {
        padding-top: $navigationPanelH + $projectHeaderH;
        width: 40%;
        margin-left: 30%;

        @include bp-s {
            width: 85%;
            margin-left: 15%;
        }
    }


    .project-creator {
        float: left;
        width: 25%;
        font-size: $project-creator-font-size;
        text-transform: uppercase;

        &:before {
            @include bp-s {
                content: 'BY';
                position: absolute;
                left: $project-overview-padding-bps;
            }
        }

        @include bp-s {
            width: 90%;
            font-size: $project-creator-font-size-bps;
        }
    }


    .project-text {
        float: right;
        width: 75%;
        font-size: $project-text-font-size;

        @include bp-s {
            width: 100%;
            font-size: $project-text-font-size-bps;
        }
    }


    .project-img {
        width: 100%;
    }


    .project-gallery {
        width: 100%;
    }


    .project-next {
        position: fixed;
        top: 50%;
        right: 0px;
        transform: rotate(-90deg) translateY(100%);
        text-transform: uppercase;
    }
}
