.saturated-img-container {
    position: relative;
    
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $filter-color0;
    }
}

.saturated-img-grayscale {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(40%);
    opacity: 0.5;
}

.saturated-img-saturation {
    display: block;
    width: 100%;
    mix-blend-mode: saturation;
    filter: contrast(300%);
}


.project-overview-item:hover {

    .saturated-img-container:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}


.filter-0 {
    .project-overview-item:hover .saturated-img-container:after {
        background-image: url('../img/pattern/pattern_0_color.png');
    }

    .saturated-img-container:before { background-color: $filter-color0; }
}


.filter-1 {
    .project-overview-item:hover .saturated-img-container:after {
        background-image: url('../img/pattern/pattern_1_color.png');
    }

    .saturated-img-container:before { background-color: $filter-color1; }
}


.filter-2 {
    .project-overview-item:hover .saturated-img-container:after {
        background-image: url('../img/pattern/pattern_2_color.png');
    }

    .saturated-img-container:before { background-color: $filter-color2; }
}


.filter-3 {
    .project-overview-item:hover .saturated-img-container:after {
        background-image: url('../img/pattern/pattern_3_color.png');
    }

    .saturated-img-container:before { background-color: $filter-color3; }
}


.filter-4 {
    .project-overview-item:hover .saturated-img-container:after {
        background-image: url('../img/pattern/pattern_4_color.png');
    }

    .saturated-img-container:before { background-color: $filter-color4; }
}
