.info-panel {
    position: relative;
    width: 50vw;
    height: $infoPanelH;
    padding: $project-overview-padding;
    background: $background;
    border-bottom: $borderW solid $border-color;

    @include bp-s {
       border-left: none;
       border-right: none;
    }
}


.sticky {
    .info-panel.stick {
        top: $navigationPanelH;
        right: 0;
        
    }
}


.live-data {
    th, td {
        width: 8vw;
        text-align: left;
    }
}