.info-panel {
    position: relative;
    width: 100%;
    height: $infoPanelH;
    border-bottom: $borderW solid $border-color;

    @include bp-s {
       border-left: none;
       border-right: none;
    }
}
