.model-selector {
    display: block;
    width: 100%;
    height: calc(100vh - #{$bigModelH});
    border-top: $borderW solid $border-color;

    @include bp-s {
        border-bottom: $borderW solid $border-color;
    }

    &.vertical {
        z-index: 6;
        float: left;
        position: fixed;
        top: 0;
        left: 0;
        width: $vertical-model-selectorW;
        height: 100vh;
        border: none;
        border-right: $borderW solid $border-color;

        @include bp-s {
            display: none;
        }
    }
}
