.navigation-panel {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - #{$vertical-object-selectorW});
    height: $navigationPanelH;
    background: $background;
    border-bottom: $borderW solid $border-color;
    text-transform: uppercase;
    font-size: calc(#{$navigationPanelH} - 2 * #{$project-overview-padding});

    @include bp-s {
       border-left: none;
       border-right: none;
       font-size: calc(#{$navigationPanelH} - 2 * #{$project-overview-padding-bps});
    }
}


.navigation-panel-home {
    z-index: 3;
    position: absolute;
    top: 100vh;
    right: 0;  
    width: 50vw; 
}

