.object-selector {
    z-index: 6;
    display: block;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    width: $general-side-panel;
    height: 100vh;
    border-right: $borderW solid $border-color;
    
    @include bp-s {
        display: none;
    }
}


.home-page:not(.expanded-view) {
    .object-selector {
        top: $object3D-h;
        width: $landing-left-panel;
        height: calc(100vh - #{$object3D-h});
        border: none;
        border-top: $borderW solid $border-color;

        @include bp-s {
            display: block;
            width: 100vw;
            border-bottom: $borderW solid $border-color;
        }
    }
}

