.project-overview {
    position: relative;
    padding-top: $navigationPanelH;
    top: $infoPanelH;
    width: 100%;
    box-sizing: content-box;
    border-left: $borderW solid $border-color;
    background: $background;


   @include bp-portrait {
      padding-top: $navigationPanel-h-bps;
      border-left: 0;
    }
}
