.project-overview {
    position: relative;
    top: $navigationPanelH;
	float: left;
    width: 100%;
    //height: calc(100vh - #{$infoPanelH} - #{$navigationPanelH});
    box-sizing: content-box;
    background: $background;
   //  margin-right: -100px;
   // padding-right: 100px;
}


.sticky {
	.project-overview {
		padding-top: $infoPanelH;
	}
}