/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$gray:        rgb(188, 188, 188);
$light-gray:  rgb(222, 222, 222);
$white:       rgb(255, 255, 255);
$black:       rgb(0, 0, 0);
$blue:        rgb(104, 139, 196);


$background: $black;
$border-color: $white;
$text-color: $white;
$landing-title-color: $black;
$project-overview-text-color: $gray;
$project-overview-text-hover-color: $white;


$filter-color0: rgba(0, 255, 255, 1);
$filter-color1: rgba(255, 0, 0, 1);
$filter-color2: rgba(0, 255, 0, 1);
$filter-color3: rgba(0, 0, 255, 1);
$filter-color4: rgba(255, 255, 0, 1);
