$gutter: 10px;
$gutter-bps: 10px;

$gutter-small: 5px;


/* GENERAL LAYOUT */
$general-side-panel: calc(5px + (100vw - 110px) / 10 + 10px);
$ganeral-main-panel: calc(5px + (100vw - 110px) / 10 * 9 + 90px);



/* LANDING LAYOUT */
$landing-left-panel: calc(10px + (100vw - 110px) / 10 * 5 + 50px - 1px);
$landing-right-panel: calc((100vw - 110px) / 10 * 5 + 50px + 1px);



/* ABOUT INSIDE ELEMENTS */
$about-section-w: 50vw;

$about-contribution-item-margin-left: 5%;
$about-contribution-item-margin-left-bps: 5%;



/* PROJECT INSIDE ELEMENTS */
$project-w: calc((100vw - 110px) / 10 * 5 + 40px);
$project-right-margin: calc((100vw - 110px) / 10 * 2 + 30px);

$project-text-w: calc((100vw - 110px) / 10 * 4 + 30px);

$project-reference-w: calc((100vw - 110px) / 10 * 2 + 10px);
$project-reference-margin-right: 10px;

$project-author-w: calc((100vw - 110px) / 10 * 1);

$project-caption-margin-left: calc((100vw - 110px) / 10 * 1 + 10px);



/* PROJECT OVERVIEW INSIDE ELEMENTS */
$project-overview-author-w: calc((100vw - 110px) / 10 * 1);
$project-overview-title-w: calc((100vw - 110px) / 10 * 2 + 20px);
$project-overview-img-w: calc((100vw - 110px) / 10 * 2 + 10px);

$project-overview-expanded-author-w: $project-overview-author-w;
$project-overview-expanded-title-w: calc((100vw - 110px) / 10 * 4 + 40px);
$project-overview-expanded-img-w: calc((100vw - 110px) / 10 * 4 + 30px);



// .debug-grid {
// 	pointer-events: none;
// 	z-index: 7;
// 	position: fixed;
// 	top: 0;
// 	bottom: 0;
// 	float: left;

// 	.col {
// 		float: left;
// 		width: calc((100vw - 110px) / 10);
// 		margin-right: 10px;
// 		outline: 1px solid red;
// 		height: 100vh;
// 	}

// 	.col1 {
// 		margin-left: 10px;
// 	}
// }
