/*------------------------------------*\
  #SIZES
\*------------------------------------*/

$closeBbutton: 50px;


//BORDERS
$borderW: 1px;


//SPACING

$project-overview-padding: 5px;

//SECTION HEIGHTS
$navigationPanelH: 40px;
$infoPanelH: 80px;
$bigModelH: 80vh;


//FONT SIZE
//landscape
$landing-font-size: 10vw;

$project-text-font-size: 7vw;
$project-title-font-size: 2vw;
$project-creator-font-size: 5vw;
$project-type-font-size: 5vw;



//portrait
$landing-font-size--portrait: 10vh;
$info-left-font-size--portrait: 7vh;
$info-right-font-size--portrait: 2vh;
$menu-font-size--portrait: 10vh;
$gallery-font-size--portrait: $info-right-font-size--portrait;
