/*------------------------------------*\
  #SIZES
\*------------------------------------*/


//FONT SIZE
//landscape
$landing-font-size: 8vw;

$project-text-font-size: 2vw;
$project-title-font-size: 4vw;
$project-author-font-size: 1.5vw;
$project-location-font-size: 1.3vw;
$project-caption-font-size: 1vw;

$about-title-font-size: 2vw;
$about-contributor-font-size: 1.5vw;
$about-text-font-size: 1.5vw;
$about-navigation-font-size: 1.5vw;

$navigation-font-size: 2vw;
$info-panel-font-size: 1.3vw;

$project-overview-author-font-size: 1.3vw;
$project-overview-lead-font-size: 1.3vw;
$project-overview-title-font-size: 1.6vw;


//bp-s
$landing-font-size-bps: 10vw;

$project-text-font-size-bps: 4vw;
$project-title-font-size-bps: 10vw;
$project-author-font-size-bps: 5vw;
$project-location-font-size-bps: 5vw;
$project-caption-font-size-bps: 3vw;

$about-title-font-size-bps: 5vw;
$about-contributor-font-size-bps: 3vw;
$about-text-font-size-bps: 3vw;
$about-navigation-font-size-bps: 3vw;

$navigation-font-size-bps: 3vw;


$project-overview-author-font-size-bps: 1vw;
$project-overview-title-font-size-bps: 2vw;



//LINE HEIGHTS
$project-text-line-height: 1.5;
$about-text-line-height: 1.5;


$closeBbutton: 50px;


//BORDERS
$borderW: 1px;
