/* GENERAL LAYOUT */
	/* PANELS */
	$navigationPanelH: calc(#{$navigation-font-size} + #{$gutter} * 2 - 0.12 * #{$navigation-font-size});
	$navigationPanel-h-bps: calc(#{$navigation-font-size-bps} + #{$gutter-bps} * 2 - 0.12 * #{$navigation-font-size-bps});

	/* MARGIN BOTTOM */


/* LANDING */
	/* PANELS */
	//$infoPanelH: calc(#{$info-panel-font-size} * 1.2 * 3 + #{$gutter-small} * 2);
	$infoPanelH: 0;
	$object3D-h: 80vh;//needs to be changed in pageTransition.js as well!!!


	/* MARGIN BOTTOM */
	$project-overview-title-margin-bottom: 10px;



/* PROJECT */


	/* MARGIN BOTTOM */
	$project-interview-item-margin-bottom: 10px;
	$project-interview-item-margin-bottom-bps: 10px;

	$project-item-margin-bottom: 1.2 * $project-text-font-size;
	$project-item-margin-bottom-bps: 1.2 * $project-text-font-size-bps;

	$project-gallery-margin-bottom: 2 * 1.2 * $project-text-font-size;
	$project-gallery-margin-bottom-bps: 2 * 1.2 * $project-text-font-size-bps;

	$project-caption-margin-top: 5px;
	$project-caption-margin-top-bps: 5px;

	$project-author-margin-bottom-bps: $project-author-font-size-bps * 0.8;



/* ABOUT PANELS */
	/* PANELS */
	$about-navigation-h: calc(#{$about-navigation-font-size} * 3 * 1.2 + #{$gutter} * 2 - 0.12 * #{$about-navigation-font-size});
	$about-navigation-h-bps: calc(#{$about-navigation-font-size-bps} * 3 + #{$gutter-bps} * 2 - 0.12 * #{$about-navigation-font-size-bps});


	/* MARGIN BOTTOM */
	$about-title-margin-bottom: 1vw;
	$about-title-margin-bottom-bps: 1vw;

	$about-contribution-item-margin-bottom: 1vw;
	$about-contribution-item-margin-bottom-bps: 1vw;

