.project-author {
    width: 20%;
    float: right;
    padding: $project-overview-padding;
    text-transform: uppercase;

    @include bp-s {
        width: 35%;
        padding: $project-overview-padding-bps;
    }
}
