.project-overview-expand-button {
	z-index: 4;
    position: fixed;
    top: 50vh;
    left: $landing-left-panel;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-out;

    @include bp-s {
        display: none;
    }

}

.expanded-view {
    .project-overview-expand-button {
        opacity: 0!important;
        pointer-events: none;
    }
}

.no-intro {
    .project-overview-expand-button {
        opacity: 1;
        cursor: pointer;
    }
}