.project-overview-title-w-lead {
    width: $project-overview-title-w;
    float: right;
    padding: $gutter;
    padding-right: 0;

    @include bp-s {
        width: 65%;
        padding: $gutter-bps;
        padding-bottom: calc(#{$gutter-bps} - 2px);
    }
}


.project-overview-title {
    text-transform: uppercase;
    margin-bottom: $project-overview-title-margin-bottom;
    font-size: $project-overview-title-font-size;
    line-height: $project-overview-title-line-height;
    letter-spacing: $project-overview-title-letter-spacing;

    @include bp-s {
        margin-bottom: 0;
        font-size: $project-overview-title-font-size-bps;
    }
}


.project-overview-lead {
    display: none;
    font-size: $project-overview-lead-font-size;
    line-height: $project-overview-lead-line-height;
    letter-spacing: $project-overview-lead-letter-spacing;
}


.expanded-view {
    .project-overview-title-w-lead {
        width: $project-overview-expanded-title-w;
    }

    .project-overview-lead {
    	display: block;
    }
}
