.project-overview-item {
    width: 100%;
    border-bottom: $borderW solid $border-color;
    color: $project-overview-text-color;

    &:last-child {
        border: none;
    }

    &:hover {
        color: $project-overview-text-hover-color;
    }

    @include bp-portrait {
        color: $project-overview-text-hover-color;
    }

    a {
        float: left;
        width: 100%;
    }

}
