.project-overview-author {
    width: $project-overview-author-w;
    float: right;
    padding: $gutter;
    padding-right: 0;
    text-transform: uppercase;
    font-size: $project-overview-author-font-size;

    @include bp-s {
        width: 35%;
        padding: $gutter-bps;
        font-size: $project-overview-author-font-size-bps;
    }
}
