.project-overview-img {
    float: right;
    width: $project-overview-img-w;
    margin: $gutter;

    @include bp-portrait {
        width: calc(100vw - 2 * #{$gutter-bps});
        margin: $gutter-bps;
        margin-bottom: 0;
    }

}


.expanded-view {
    .project-overview-img {
        width: $project-overview-expanded-img-w;
    }
}