{% macro model_selector(img, selector) %}

    {% set backgroundImg = 'background-image: url(' + img + ');'  %}

    <li class="model-selector-item" style = "{{ backgroundImg }}"></li>

{% endmacro %}
