{% macro object_selector_item(img, selector, isWithLink, loopIndex) %}

    {% set backgroundImg = 'background-image: url(' + img + ');'  %}
    {% set activeClass = ''  %}

    {% if  loopIndex == 0 %}
    	{% set activeClass = 'active'  %}
    {% endif %}


    	{% if isWithLink %}

    		<li class="object-selector-item js-filter-selector {{ activeClass }}" style = "{{ backgroundImg }}">
    			<a href="./index.html"></a>
    		</li>

    	{% else %}

    		<li class="object-selector-item js-filter-selector {{ activeClass }}" style = "{{ backgroundImg }}"></li>

    	{% endif %}

    

{% endmacro %}
