{% macro object_selector_item(loopIndex) %}

    
    {% set activeClass = ''  %}

    {% if  loopIndex == 0 %}
    	{% set activeClass = 'active'  %}
    {% endif %}

    	<a class="object-selector-item js-filter-selector {{ activeClass }}" href="./index.html"></a>

{% endmacro %}
