{#
 # Homepage template
 # ---------------
 #
 #}


{% set bodyClass = 'about' %}
{% set dataNamespace = 'about' %}

{% extends "layout.njk" %}

{% block content %}

    <div class="about js-content-height">

        {# ABOUT NAVIGATION #}
        {% include "modules/about/about-navigation.njk" %}


        <div class="about-content">

            {# CONTACT #}
            {% include "modules/about/about-contact.njk" %}

            {# EDITORIAL #}
            {% include "modules/about/about-editorial.njk" %}

            {# CONTRIBUTORS #}
            {% include "modules/about/about-contributors.njk" %}

            {# BIBLIOGRAPHY #}
            {# include "modules/about/about-bibliography.njk" #}

            {# ACKNOWLEDGEMENTS #}
            {% include "modules/about/about-acknowledgements.njk" %}
      
            {# IMPRINT #}
            {% include "modules/about/about-imprint.njk" %}

        </div>
       
    </div>

{% endblock %}
