{#
 # Homepage template
 # ---------------
 #
 #}



{% extends "layout.njk" %}

{% block content %}

    <div class="half-panel">

        {# PROJECT #}
        {% include "modules/about/about-project.njk" %}

        {# CONTACT #}
        {% include "modules/about/about-contact.njk" %}

    </div>


    <div class="half-panel">

        {# CONTRIBUTORS #}
        {% include "modules/about/about-contributors.njk" %}

    </div>

{% endblock %}
