{% set bodyClass = 'contribution' %}
{% set dataNamespace = 'contribution' %}

{% extends "layout.njk" %}

{% block content %}

    <h1 class="landing-title">
        Natural capital
    </h1>

    <div class="landing-background"></div>

    <div class="landing-content">

        <div class="half-panel half-panel--left">

            {# OBJECT 3D #}
            {% include "modules/object-3d.njk" %}

        </div>


        <div class="half-panel half-panel--right">

            {# INFO PANEL #}
            {# set extraClass = 'stick' #}
            {# include "modules/info-panel.njk" #}

            {# PROJECTS OVERVIEW #}
            {% include "modules/project-overview.njk" %}

            {# PROJECTS OVERVIEW EXPANND BUTTON #}
            {% include "components/project-overview/project-overview-expand-button.njk" %}

        </div>

    </div>


{% endblock %}