{#
 # Homepage template
 # ---------------
 #
 #}


{% set bodyClass = 'home' %} {# if this is changed it also has to change in the lyout.njk #}
{% set dataNamespace = 'homepage' %}

{% extends "layout.njk" %}

{% block content %}

    <h1 class="landing-title">
        Natural capital
    </h1>

    <div class="landing-background"></div>

    <div class="landing-content">

        {# LANDING INTRO #}
        {% include "modules/landing-intro.njk" %}


        <div class="half-panel half-panel--left">

            {# OBJECT 3D #}
            {% include "modules/object-3d.njk" %}

        </div>


        <div class="half-panel half-panel--right">

            {# INFO PANEL #}
            {# include "modules/info-panel.njk" #}

            {# PROJECTS OVERVIEW #}
            {% include "modules/project-overview.njk" %}

        </div>

        {# PROJECTS OVERVIEW EXPANND BUTTON #}
        {% include "components/project-overview/project-overview-expand-button.njk" %}

    </div>


{% endblock %}
