{#
 # Homepage template
 # ---------------
 #
 #}


{% set bodyClass = 'landing' %}
{% set dataNamespace = 'homepage' %}

{% extends "layout.njk" %}

{% block content %}


    {# LANDING VIEW #}
    {% include "modules/landing-view.njk" %}

    <div class="landing-content">


        <div class="half-panel half-panel--left js-fix-indicator stick">

            {# OBJECT 3D #}
            {% include "modules/object-3d.njk" %}

        </div>


        <div class="half-panel half-panel--right js-landing-expandable">

            {# INFO PANEL #}
            {% set extraClass = 'stick' %}
            {% include "modules/info-panel.njk" %}

            {# PROJECTS OVERVIEW #}
            {% include "modules/project-overview.njk" %}

            {# PROJECTS OVERVIEW EXPANND BUTTON #}
            {% include "components/project-overview/project-overview-expand-button.njk" %}

        </div>

    </div>


{% endblock %}
