{#
 # Homepage template
 # ---------------
 #
 #}



{% extends "layout.njk" %}

{% block content %}

    {# LANDING VIEW #}
    {% include "modules/landing-view.njk" %}

    <div class="half-panel">

        {# BIG MODEL #}
        {% include "modules/big-model.njk" %}

        {# MODEL SELECTOR #}
        {% include "modules/model-selector.njk" %}

    </div>


    <div class="half-panel">

        {# NAVIGATION PANEL #}
        {% include "modules/navigation-panel.njk" %}

        {# INFO PANEL #}
        {% include "modules/info-panel.njk" %}

        {# PROJECTS OVERVIEW #}
        {% include "modules/project-overview.njk" %}

        {# PROJECTS OVERVIEW SWITCH FULL #}
        {% include "components/project-overview/project-overview-switch-full.njk" %}

    </div>

{% endblock %}
