{#
 # Project template
 # ---------------
 #
 #}


 {% from "components/project/project-title.njk" import title as title %}
 {% from "components/project/project-creator.njk" import creator as creator %}
 {% from "components/project/project-type.njk" import type as type %}
 {% from "components/project/project-text.njk" import text as text %}
 {% from "components/project/project-img.njk" import img as img %}
 {% from "components/project/project-gallery.njk" import gallery as gallery %}
 {% from "components/project/project-video.njk" import video as video %}
 {% set project = projects[0] %}



{% extends "layout.njk" %}

{% block content %}

<div class="project">

    {# NAVIGATION PANEL #}
    {% include "modules/navigation-panel.njk" %}

    {# HEADER #}
    <div class="project-header">

        {# TITLE #}
        {{ title(project.title) }}

        {# TYPE #}
        {{ type(project.type) }}

    </div>


    {# CONTENT #}

    <div class="project-content">

        {# CREATOR #}
        {{ creator(project.creator) }}


        {% for item in project.content %}

            {% if item.type == 'text' %}

                {# TEXT #}
                {{ text(item.text) }}

            {% elif item.type == 'gallery' %}

                {# GALLERY #}
                {{ gallery(item.gallery) }}

            {% elif item.type == 'img' %}

                {# IMAGE #}
                {{ img(item.img) }}

            {% elif item.type == 'video' %}

                {# VIDEO #}
                {{ video(item.video) }}

            {% endif %}

        {% endfor %}

        {# NEXT PROJECT #}
        {% include "components/project/project-next.njk" %}

    </div>


</div>


{% endblock %}
