.about {
    padding-top: calc(#{$navigationPanelH} + #{$about-navigation-h});
    width: calc(100% - #{$vertical-object-selectorW});
    float: right;
    font-size: $about-text-font-size;

    @include bp-s {
        width: 100%;
        padding-top: calc(#{$navigationPanel-h-bps} + #{$about-navigation-h-bps});
        font-size: $about-text-font-size-bps;
    }

    p {
    	margin-bottom: $about-title-margin-bottom;
    }

}
