.about {
    padding-top: calc(#{$navigationPanelH} + #{$about-navigation-h});
    width: $ganeral-main-panel;
    position: absolute;
    right: 0;
    font-size: $about-text-font-size;

    @include bp-portrait {
        width: 100%;
        padding-top: calc(#{$navigationPanel-h-bps} + #{$about-navigation-h-bps});
        font-size: $about-text-font-size-bps;
    }

    p {
    	margin-bottom: $about-title-margin-bottom;
    }

}
