<table class="live-data">

	<tr>
		<th>LIVE</th>
		<th>TIME</th> 
		<th>TEMP</th>
		<th>HUMIDITY</th>
	</tr>

	<tr>
		<td>Jakarta</td>
		<td class="js-time-jakarta"></td> 
		<td class="js-temperature-jakarta"></td>
		<td class="js-humidity-jakarta"></td>
	</tr>

	<tr>
		<td>Brussels</td>
		<td class="js-time-brussels"></td> 
		<td class="js-temperature-brussels"></td>
		<td class="js-humidity-brussels"></td>
	</tr>

</table>
