 <section class="about-contact about-section" 
          data-section="contact"
>

     <div class="about-text">

         <div class="about-title">
             <ul>
                 <li>Charlotte Dumoncel d’Argence &</li>
                 <li>Laura Hermann</li>
             </ul>
         </div>

         <address>
             {# EMAIL #}
             <!-- <span class="about-contact-abbrev">E</span> -->
             <a class="email" href="mailto:info@naturalcapital.com">info@naturalcapital.com</a>
             <br>
             <a class="email" href="mailto:info@naturalcapital.com">info@naturalcapital.com</a>

             {# ADDRESS #}
             <!-- <span class="about-contact-abbrev">A</span> 
             <div class="address">
                 Strantstrass 32<br>
                 56C Brussels<br>
                 Belgium
             </div>
         </address> -->

     </div>

</section>
