{% from "components/general/text-multi-lang.njk" import text_multi_lang as text_multi_lang %}


<nav class="about-nav-outer-wrapper">
   
    <ul class="about-nav-inner-wrapper">
    	<li class="about-nav-item active js-about-nav-item" data-referenced-section="contact">
    		{{ text_multi_lang('CONTACT', 'KONTAK') }}
    	</li>

        <li class="about-nav-item js-about-nav-item" data-referenced-section="acknowledgements">
            {{ text_multi_lang('ACKNOWLEDGMENTS', 'UCAPAN TERIMAKASIH') }} 
        </li>

    	<li class="about-nav-item js-about-nav-item" data-referenced-section="editorial">
    		{{ text_multi_lang('PROJECT INFO', 'INFO PROYEK') }} 
    	</li>

        <li class="about-nav-item js-about-nav-item" data-referenced-section="imprint">
            {{ text_multi_lang('IMPRINT', 'TERBITAN') }} 
        </li>

    	<li class="about-nav-item js-about-nav-item" data-referenced-section="contributors">
    		{{ text_multi_lang('CONTRIBUTORS', 'KONTRIBUTOR') }} 
    	</li>

    </ul>


</nav>