 {% from "components/about/about-title.njk" import title as title %}

 <section class="about-contact about-section">
     {{ title('contact') }}

     <div class="about-text">

         <div class="contact-name">
             <ul>
                 <li>Laura Hermann &</li>
                 <li>Charlotte Dumoncel d’Argence</li>
             </ul>
         </div>

         <address>
             {# EMAIL #}
             <span class="about-contact-abbrev">E</span>
             <a class="email" href="mailto:info@naturalcapital.com">info@naturalcapital.com</a>
             <br>

             {# ADDRESS #}
             <span class="about-contact-abbrev">A</span>
             <div class="address">
                 Strantstrass 32<br>
                 56C Brussels<br>
                 Belgium
             </div>
         </address>

     </div>

</section>
