<nav class="about-nav">
   
    <ul class="">
    	<li class="about-nav-item">CONTACT</li>
    	<li class="about-nav-item">THE PROJECT</li>
    	<li class="about-nav-item">CONTRIBUTORS</li>
    	<li class="about-nav-item">BIBLIOGRAPHY</li>
    	<li class="about-nav-item">ACKNOWLEDGEMENTS</li>
    	<li class="about-nav-item">IMPRINT</li>
    </ul>


</nav>