{% from "components/about/about-title.njk" import title as title %}
{% from "components/about/about-contributor.njk" import item as tree %}

<section class="about-contributors about-section">
    {{ title('contributors') }}

    <ul>
        {% for item in contributors %}
            {{ tree(item.name, item.text) }}
        {% endfor %}
    </ul>

</section>
