<nav class="about-nav-outer-wrapper">
   
    <ul class="about-nav-inner-wrapper">
    	<li class="about-nav-item active js-about-nav-item" data-referenced-section="contact">
    		CONTACT
    	</li>

        <li class="about-nav-item js-about-nav-item" data-referenced-section="acknowledgements">
            ACKNOWLEDGEMENTS
        </li>

    	<li class="about-nav-item js-about-nav-item" data-referenced-section="editorial">
    		PROJECT INFO
    	</li>

        <li class="about-nav-item js-about-nav-item" data-referenced-section="imprint">
            IMPRINT
        </li>

    	<li class="about-nav-item js-about-nav-item" data-referenced-section="contributors">
    		CONTRIBUTORS
    	</li>

    </ul>


</nav>