{% from "components/about/about-title.njk" import title as title %}
{% from "components/about/about-text.njk" import text as text %}

<section class="about-project about-section">
    {{ title('the project') }}

    <p class="about-text">{{ about.text }}</p>


</section>
