{% from "components/about/about-contributor-item.njk" import item as contributor_item %}

<section class="about-contributors about-section hidden"
		 data-section="contributors"
>

    <ul>
        {% for item in contributors %}
            {{ contributor_item(item.name, item.text, item.text_in) }}
        {% endfor %}
    </ul>

</section>
