{% from "components/general/text-multi-lang.njk" import text_multi_lang as text_multi_lang %}
{% from "components/about/about-text.njk" import text as text %}


<section class="about-editorial about-section hidden"
		 data-section="editorial"
>

    {% for item in about_editorial %}
    	<p class="about-text">
    		{{ text_multi_lang(item.p, item.p_in) }} 
    	</p>
    {% endfor %}

</section>
