{% from "components/about/about-text.njk" import text as text %}

<section class="about-editorial about-section hidden"
		 data-section="editorial"
>

    {% for item in about_editorial %}
    	<p class="about-text">{{ item.p|safe }}</p>
    {% endfor %}

</section>
