{% macro projectOverview(author, title, lead, img, index) %}

{% set href =  "./contribution_" + index + ".html" %}

    <li class="project-overview-item">
        <a href="{{ href }}">
            
            <div class="project-overview-img saturated-img-container">
                <img class="saturated-img-saturation js-load-img" src=# alt="{{ title }}" data-src="{{ img }}">
                <img class="saturated-img-grayscale js-load-img" src=# alt="{{ title }}" data-src="{{ img }}">
            </div>


            <div class="project-overview-title-w-lead">
                <h2 class="project-overview-title">{{ title }}</h2>
                <p class="project-overview-lead">{{ lead }}</p>
            </div>

            
            <div class="project-overview-author">{{ author }}</div>
            
        </a>
    </li>

{% endmacro %}
