<div class="project-overview-switch-full js-project-overview-switch-full">
    <div class="circle-with-border">
        <div class="circle-border">
        </div>
        <div class="circle">
        </div>
    </div>
</div>
