<div class="project-overview-expand-button stick js-expand-project-overview">
    <div class="circle-with-border">
        <div class="circle-border">
        </div>
        <div class="circle">
        </div>
        {% include "components/general/arrows.njk" %}
    </div>
</div>
