{#
 # Project template
 # ---------------
 #
 #}


{% set bodyClass = 'project' %}
{% extends "layout.njk" %}

{% block content %}

    {#  PROJECT TEMPLATE #}
    {% set projectIndex = 3 %}
    {% include "modules/project.njk" %}

{% endblock %}
