{#
 # Project template
 # ---------------
 #
 #}



{% extends "layout.njk" %}

{% block content %}

    {#  PROJECT TEMPLATE #}
    {% set projectIndex = 0 %}
    {% include "modules/project.njk" %}

{% endblock %}
