$projectHeaderH: 200px;

.project {
    width: $ganeral-main-panel;
    float: right;

    @include bp-s {
        width: 100vw;
    }


    .project-header {
        float: left;
        width: $ganeral-main-panel;
        margin-top: $navigationPanelH;
        margin-bottom: $gutter;
        padding: $gutter;
        padding-right: 0;
        border-bottom: $borderW solid $border-color;

        @include bp-s {
            width: 100vw;
            margin-top: $navigationPanel-h-bps;
            margin-bottom: $gutter-bps;
            padding: $gutter-bps;
        }
    }


    .project-title {
        width: $project-w;
        float: right;
        margin-right: $project-right-margin;
        font-size: $project-title-font-size;
        text-transform: uppercase;
        line-height: $project-title-line-height;
        letter-spacing: $project-title-letter-spacing;

        @include bp-s {
            width: 100%;
            margin-right: 0;
            font-size: $project-title-font-size-bps;
            letter-spacing: $project-title-letter-spacing-bps;
        }
    }


    .project-location {
        float: left;
        font-size: $project-location-font-size;
        text-transform: capitalize;

        @include bp-s {
            display: none;
        }
    }


    .project-content {
        position: relative;
        float: right;
        width: $project-w;
        margin-right: $project-right-margin;

        @include bp-s {
            width: 100%;
            margin-right: 0;
            padding: $gutter-bps;
            padding-bottom: calc(#{$project-text-font-size-bps} * 2 + #{$gutter-bps});
        }
    }


    .project-author {
        float: left;
        width: $project-author-w;
        margin-left: $project-author-margin-left;
        text-transform: uppercase;
        font-size: $project-author-font-size;
        line-height: $project-author-line-height;
        letter-spacing: $project-author-letter-spacing;

        &:before {
            @include bp-s {
                content: 'BY';
                position: absolute;
                left: $gutter-bps;
            }
        }

        @include bp-s {
            width: 85%;
            margin-left: 15%;
            margin-bottom: $project-author-margin-bottom-bps;
            font-size: $project-author-font-size-bps;
        }
    }


    .project-text {
        float: left;
        width: $project-text-w;
        margin-bottom: $project-item-margin-bottom;
        font-size: $project-text-font-size;
        line-height: $project-text-line-height;
        letter-spacing: $project-text-letter-spacing;


        @include bp-s {
            width: 85%;
            margin-left: 15%;
            margin-bottom: $project-item-margin-bottom-bps;
            font-size: $project-text-font-size-bps;
        }
    }



    figcaption {
        font-size: $project-caption-font-size;
        line-height: $project-caption-line-height;
        letter-spacing: $project-caption-letter-spacing;

        @include bp-s {
            font-size: $project-caption-font-size-bps;
        }
    }


    .project-caption {
        width: $project-caption-w;
        margin-left: $project-caption-margin-left;
        margin-top: $project-caption-margin-top;
        

        @include bp-s {
            width: auto;
            margin-top: $project-caption-margin-top-bps;
            margin-left: 15%;
        }
    }


    .project-img-nr {
        float: left;
    }

    .project-img-container {
        margin-bottom: $project-item-margin-bottom;

        @include bp-s {
            margin-bottom: $project-item-margin-bottom-bps;
        }
    }


    .project-img {
        width: 100%;
    }


    .project-gallery {
        width: 100%;
        margin-bottom: $project-item-margin-bottom;

        @include bp-s {
            margin-bottom: $project-item-margin-bottom-bps;
        }

    }


    .project-interview {
        float: left;
        margin-bottom: $project-item-margin-bottom;
    }


    .project-interview-item {
        float: left;
        width: 100%;
        margin-bottom: $project-interview-item-margin-bottom;

        @include bp-s {
            margin-bottom: $project-text-font-size-bps * 1.1;
        }
    }


    .project-interview-text {
        float: right;
        width: $project-text-w;
        font-size: $project-text-font-size;
        line-height: $project-text-line-height;
        letter-spacing: $project-text-letter-spacing;


        @include bp-s {
            width: 85%;
            font-size: $project-text-font-size-bps;
        }
    }


    .project-interview-person {
        float: left;
        width: $project-interview-person-w;
        text-transform: uppercase;
        font-size: $project-author-font-size;
        line-height: $project-text-line-height;
        letter-spacing: $project-text-letter-spacing;

        @include bp-s {
            width: 100%;
            font-size: $project-author-font-size-bps;
        }
    }


    .project-next {
        position: fixed;
        top: 50%;
        right: $gutter;
        transform: rotate(-90deg) translate(50%, -50%);
        transform-origin: right center;
        text-transform: uppercase;
        font-size: $project-next-font-size;
        letter-spacing: $project-next-letter-spacing;


        @include bp-s {
            position: absolute;
            top: auto;
            bottom: $project-item-margin-bottom-bps;
            right: auto;
            left: $gutter-bps;
            margin-left: 15%;
            transform: rotate(0deg) translate(0%, 0%);
            font-size: $project-next-font-size-bps;
        }
    }


    .project-audio-cover {
        width: 100%;
        padding-bottom: 56.25%;
        background-image: url('../img/pattern/pattern_3.png');
        background-color:gray;

    }


    .project-video {
        width: 100%;
        padding-bottom: 56.25%;

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    .project-bibliography {
        float: left;
        width: 100vw;

        .bibliorgraphy_col {
            width: $project-bibliography-w;
            float: left;
            margin-right: $gutter;

            @include bp-s {
                width: 100%;
                margin-right: 0;
                font-size: $project-text-font-size-bps;
                letter-spacing: $project-text-letter-spacing;
            }
        }

        .project-bibliography-item {
            float: right;
            width: 100%;

            @include bp-s {
                margin-bottom: 0.7vw;
            }
        }

        .project-bibliography-text {
            width: 80%;
            float: right;

            @include bp-s {
                width: 85%;
            }
        }
        
        
    }
}
