$projectHeaderH: 200px;

.project {
    width: $ganeral-main-panel;
    float: right;

    @include bp-s {
        width: 100vw;
    }


    .project-header {
        z-index: 1;
        position: fixed;
        top: $navigationPanelH;
        float: left;
        width: $ganeral-main-panel;
        padding: $gutter;
        padding-right: 0;
        border-bottom: $borderW solid $border-color;
        background: $background;

        @include bp-s {
            top: $navigationPanel-h-bps;
            width: 100vw;
            padding: $gutter-bps;
        }
    }


    .project-title {
        width: $project-w;
        float: right;
        margin-right: $project-right-margin;
        font-size: $project-title-font-size;
        text-transform: uppercase;

        @include bp-s {
            width: 100%;
            margin-right: 0;
            font-size: $project-title-font-size-bps;
        }
    }


    .project-location {
        float: left;
        font-size: $project-location-font-size;
        text-transform: capitalize;

        @include bp-s {
            display: none;
        }
    }


    .project-content {
        position: relative;
        float: right;
        width: $project-w;
        padding-top: $navigationPanelH;
        margin-top:  $projectHeaderH;
        margin-right: $project-right-margin;

        @include bp-s {
            width: 100%;
            margin-left: 0;
            padding: $gutter-bps;
            padding-top: $navigationPanel-h-bps;
            padding-bottom: calc(#{$project-text-font-size-bps} * 2 + #{$gutter-bps});
        }
    }


    .project-author {
        float: left;
        width: $project-author-w;
        font-size: $project-author-font-size;
        text-transform: uppercase;

        &:before {
            @include bp-s {
                content: 'BY';
                position: absolute;
                left: $gutter-bps;
            }
        }

        @include bp-s {
            width: 85%;
            margin-left: 15%;
            font-size: $project-author-font-size-bps;
        }
    }


    .project-text {
        float: right;
        width: $project-text-w;
        font-size: $project-text-font-size;
        margin-bottom: $project-item-margin-bottom;

        @include bp-s {
            width: 85%;
            margin-left: 15%;
            margin-bottom: $project-item-margin-bottom-bps;
            font-size: $project-text-font-size-bps;
        }
    }


    .project-caption {
        font-size: $project-caption-font-size;
        margin-left: $project-caption-margin-left;
        margin-top: $project-caption-margin-top;

        @include bp-s {
            font-size: $project-caption-font-size-bps;
            margin-top: $project-caption-margin-top-bps;
        }
    }


    .project-img-container {
        margin-bottom: $project-item-margin-bottom;

        @include bp-s {
            margin-bottom: $project-item-margin-bottom-bps;
        }
    }


    .project-img {
        width: 100%;
    }


    .project-gallery {
        width: 100%;
        margin-bottom: $project-item-margin-bottom;

        @include bp-s {
            margin-bottom: $project-item-margin-bottom-bps;
        }

    }


    .project-interview {
        float: left;
        margin-bottom: $project-item-margin-bottom;
    }


    .project-interview-item {
        float: left;
        width: 100%;
        margin-bottom: $project-interview-item-margin-bottom;

        @include bp-s {
            margin-bottom: $project-interview-item-margin-bottom-bps;
        }
    }


    .project-interview-text {
        float: right;
        width: $project-text-w;
        font-size: $project-text-font-size;

        @include bp-s {
            width: 100%;
            font-size: $project-text-font-size-bps;
        }
    }


    .project-next {
        position: fixed;
        top: 50%;
        right: 0px;
        transform: rotate(-90deg) translate(50%, -50%);
        transform-origin: right center;
        text-transform: uppercase;

        @include bp-s {
            position: absolute;
            top: auto;
            bottom: $project-item-margin-bottom-bps;
            right: auto;
            left: $gutter-bps;
            transform: rotate(0deg) translate(0%, 0%);
        }
    }


    .project-audio-cover {
        width: 100%;
        padding-bottom: 56.25%;
        background-image: url('../img/pattern/pattern_3.png');
        background-color:gray;

    }
}
