$projectHeaderH: 200px;

.project {
    width: calc(100% - #{$vertical-model-selectorW});
    float: right;

    @include bp-s {
        width: 100%;
    }


    .project-header {
        z-index: 1;
        position: fixed;
        top: $navigationPanelH;
        float: left;
        width: calc(100vw - #{$vertical-model-selectorW});
        border-bottom: $borderW solid $border-color;
        background: $background;
    }


    .project-title {
        width: $project-title-w;
        float: right;
        margin-right: calc((100vw - #{$vertical-model-selectorW} - #{$project-title-w}) / 2);
        font-size: $project-title-font-size;
        text-transform: uppercase;

        @include bp-s {
            width: 100%;
            margin-right: 0;
            font-size: $project-title-font-size-bps;
        }
    }


    .project-type {
        width: calc((100vw - #{$vertical-model-selectorW} - #{$project-title-w}) / 2);
        float: right;
        font-size: $project-type-font-size;
        text-transform: capitalize;

        @include bp-s {
            display: none;
            font-size: $project-type-font-size-bps;
        }
    }


    .project-content {
        padding-top: $navigationPanelH;
        margin-top:  $projectHeaderH;
        width: $project-content-w;
        margin-left: calc((100vw - #{$vertical-model-selectorW} - #{$project-content-w}) / 2);

        @include bp-s {
            width: 85%;
            margin-left: 15%;
        }
    }


    .project-creator {
        float: left;
        width: $project-creator-w;
        font-size: $project-creator-font-size;
        text-transform: uppercase;

        &:before {
            @include bp-s {
                content: 'BY';
                position: absolute;
                left: $project-overview-padding-bps;
            }
        }

        @include bp-s {
            width: 90%;
            font-size: $project-creator-font-size-bps;
        }
    }


    .project-text {
        float: right;
        width: $project-text-w;
        font-size: $project-text-font-size;
        margin-bottom: $project-item-margin-bottom;

        @include bp-s {
            width: 100%;
            font-size: $project-text-font-size-bps;
            margin-bottom: $project-item-margin-bottom-bps;
        }
    }


    .project-img {
        width: 100%;
        margin-bottom: $project-item-margin-bottom;

        @include bp-s {
            margin-bottom: $project-item-margin-bottom-bps;
        }
    }


    .project-gallery {
        width: 100%;
        margin-bottom: $project-item-margin-bottom;

        @include bp-s {
            margin-bottom: $project-item-margin-bottom-bps;
        }

    }


    .project-interview {
        float: left;
        margin-bottom: $project-item-margin-bottom;
    }


    .project-interview-item {
        float: left;
        width: 100%;

        @include bp-s {
            margin-bottom: $project-item-margin-bottom-bps;
        }
    }


    .project-interview-text {
        float: right;
        width: $project-text-w;
        font-size: $project-text-font-size;

        @include bp-s {
            width: 100%;
            font-size: $project-text-font-size-bps;
        }
    }


    .project-next {
        position: fixed;
        top: 50%;
        right: 0px;
        transform: rotate(-90deg) translate(50%, -50%);
        transform-origin: right center;
        text-transform: uppercase;
    }


    .project-audio-cover {
        width: 100%;
        padding-bottom: 56.25%;
        background-image: url('../img/pattern/pattern_3.png');
        background-color:gray;

    }
}
