<div class="info-panel {{ extraClass }}">

    {# PROJECT TYPE FILTER #}
    {% include "components/landing/project-type-filter.njk" %}

    {# LIVE DATA #}
    {% include "components/landing/live-data.njk" %}

</div>
