<div class="info-panel">

    {# PROJECT TYPE FILTER #}
    {{ include "components/general/project-type-filter.njk" }}

    {# LIVE DATA #}
    {{ include "components/general/live-data.njk" }}

</div>
