<div class="landing-intro">

    <div class="js-intro-animation intro-animation"></div>

    <div class="landing-logo-wrapper js-landing-logo-wrapper">
    	{% include "components/landing/landing-logo.njk" %}
    </div>
</div>
