<div class="landing-view">
    <h1 class="landing-title">
        
    </h1>

    <div id="lottie"></div>

    <div class="landing-logo-wrapper">
    	{% include "components/landing/landing-logo.njk" %}
    </div>
</div>
