<div class="navigation-panel js-navigation-panel">

    {# NAVIGATION #}
    {% include "components/general/navigation.njk" %}

    {# LANGUAGE SWITCH #}
    {% include "components/general/language-switch.njk" %}

    {# SCROLL INDICATOR #}
    {% include "components/general/scroll-indicator.njk" %}

</div>
