<div class="navigation-panel {{ extraClass }}">

    {# NAVIGATION #}
    {% include "components/general/navigation.njk" %}

    {# SCROLL INDICATOR #}
    {% include "components/general/scroll-indicator.njk" %}

</div>
