<div class="object-3d-container js-object-3d-container js-object-interaction-area">

	<div class="object-3d-placeholder js-3d-object-placeholder"></div>

	<div class="object-3d js-3d-object"></div>

</div>
