{% from "components/object-selector-item.njk" import object_selector_item as object_selector_item %}


<div class="object-selector js-object-selector">
    {% for object in object_imgs %}
        {{ object_selector_item(loop.index0) }}
    {% endfor %}
</div>
