{% from "components/project/project-title.njk" import title as title %}
{% from "components/project/project-creator.njk" import creator as creator %}
{% from "components/project/project-type.njk" import type as type %}
{% from "components/project/project-text.njk" import text as text %}
{% from "components/project/project-img.njk" import img as img %}
{% from "components/project/project-gallery.njk" import gallery as gallery %}
{% from "components/project/project-next.njk" import nextProject as nextProject %}
{% from "components/project/project-video.njk" import video as video %}

{% set work = projects[projectIndex] %}


{# MODEL SELECTOR #}
{% set modelSelectorClass = "side" %}
{% include "modules/model-selector.njk" %}


<div class="project barba-container js-content-height">

{# NAVIGATION PANEL #}
{% include "modules/navigation-panel.njk" %}

{# HEADER #}
<div class="project-header">

    {# TITLE #}
    {{ title(work.title) }}

    {# TYPE #}
    {{ type(work.type) }}

</div>


{# CONTENT #}

<div class="project-content">

    {# CREATOR #}
    {{ creator(work.creator) }}


    {% for item in work.content %}

        {% if item.type == 'text' %}

            {# TEXT #}
            {{ text(item.text) }}

        {% elif item.type == 'gallery' %}

            {# GALLERY #}
            {{ gallery(item.gallery) }}

        {% elif item.type == 'img' %}

            {# IMAGE #}
            {{ img(item.img) }}

        {% elif item.type == 'video' %}

            {# VIDEO #}
            {{ video(item.video) }}

        {% endif %}

    {% endfor %}

    {% set nrOfProjects = projects | length %}


    {% if projectIndex < nrOfProjects - 1 %}
        {# NEXT PROJECT #}
        {{ nextProject('./project_' + (projectIndex + 2) + '.html') }}
        {% include "components/project/project-next.njk" %}
    {% endif %}

</div>
