{% from "components/project-overview/project-overview-item.njk" import projectOverview as projectOverview %}

<ul class="project-overview js-content-height">
    {% for project in projects %}
        {{ projectOverview(project.author_overview, project.title, project.cover_text, project.cover_img, loop.index, project.href) }}
    {% endfor %}
</ul>
