{% from "components/project/project-audio.njk" import audio as audio %}
{% from "components/project/project-author.njk" import author as author %}
{% from "components/project/project-gallery.njk" import gallery as gallery %}
{% from "components/project/project-img.njk" import img as img %}
{% from "components/project/project-interview.njk" import interview as interview %}
{% from "components/project/project-text.njk" import text as text %}
{% from "components/project/project-title.njk" import title as title %}
{% from "components/project/project-location.njk" import location as location %}
{% from "components/project/project-video.njk" import video as video %}
{% from "components/project/project-bibliography.njk" import bibliography as bibliography %}
{% from "components/project/project-gif.njk" import gif as gif %}
{% from "components/project/project-subtitle.njk" import subtitle as subtitle %}



{% set work = projects[projectIndex] %}


<div class="project js-content-height">


    {# HEADER #}
    <div class="project-header">

        {# TITLE #}
        {{ title(work.title) }}

        {# LOCATION #}
        {# location(work.location) #}
        
    </div>


    {# CONTENT #}
    <div class="project-content">

        {# author #}
        {{ author(work.author) }}


        {% for item in work.content %}

            {% if item.type == 'text' %}

                {# TEXT #}
                {{ text(item) }}

            {% elif item.type == 'subtitle' %}

                {# SUBTITLE #}
                {{ subtitle(item.subtitle) }}

            {% elif item.type == 'gallery' %}

                {# GALLERY #}
                {{ gallery(item.gallery, projectFolder) }}

            {% elif item.type == 'img' %}

                {# IMAGE #}

                {{ img(item, projectFolder) }}

            {% elif item.type == 'video' %}

                {# VIDEO #}
                {{ video(item.video) }}

            {% elif item.type == 'audio' %}

                {# AUDIO #}
                {{ audio(item.audio) }}

            {% elif item.type == 'interview' %}

                {# INTERVIEW #}
                {{ interview(item.interview, item.q_name, item.a_name) }}

            {% elif item.type == 'gifs' %}

                {# GIF #}
                {{ gif(item.gifs) }}

            {% endif %}

        {% endfor %}

        {# BIBLIOGRAPHY #}
        {{ bibliography(work.bibliography) }}

</div>
