{% import "components/project-overview/project-overview-item.njk" as projectOverview %}

<ul class="project-overview">
    {% for project in projects %}
        {{ projectOverview.box(project.creator, project.type, project.title, project.cover_img, loop.index) }}
    {% endfor %}
</ul>
