{#
 # Project template
 # ---------------
 #
 #}


{% set bodyClass = 'project' %}
{% set dataNamespace = 'project' %}

{% set projectIndex = 0 %}
{% set projectFolder = '01' %}
{% set nextProjectHref = projects[projectIndex].next_href %}

{% extends "layout.njk" %}

{% block content %}

    {#  PROJECT TEMPLATE #}
    {% include "modules/project.njk" %}

{% endblock %}
