{% from "components/general/text-multi-lang.njk" import text_multi_lang as text_multi_lang %}

{% macro gallery(gallery, projectFolder) %}

<div class="project-gallery js-project-gallery hide">

{% set length = 5 %}
	
	<div class="main-carousel">

		{% for item in gallery %}

			{% set caption = item.caption|default('') %}
			{% set caption_in = item.caption_in|default('') %}
		    <div class="carousel-cell" data-index="{{ loop.index }}" data-caption="{{ caption }}" data-caption-in="{{ caption_in }}">
		    	<picture>
			  		<source media="(min-width: 550px)" srcset="./assets/img/projects/{{ projectFolder }}/m/content/{{ item.src }}">
			    	<img class="project-img" src="./assets/img/projects/{{ projectFolder }}/s/content/{{ item.src }}" alt="#">
			    </picture>
			</div>

			{% set length = loop.length %}
			            
		{% endfor %}
		
	 </div>


	 <button class="gallery-button button--previous">
	 	{% include "components/general/gallery-arrow.njk" %}
	 </button>

	 <button class="gallery-button button--next">
		{% include "components/general/gallery-arrow.njk" %}
	 </button>

	 <div class="project-caption-container">
		<span class="project-img-nr">
			<span class="js-gallery-img-nr">1</span>/{{ length }}
		</span>
		<div class="project-caption js-gallery-caption">
			{{ text_multi_lang(gallery[0].caption|default(''), gallery[0].caption_in|default('')) }}
		</div>
	</div>

</div>

	
{% endmacro %}
