{% from "components/project/project-caption.njk" import caption as caption %}


{% macro img(item) %}
	<figure class="project-img-container">

    	<img class="project-img" src="{{ item.img }}" alt="#">

    	{% if item.caption %}
    		{{ caption(item) }}
    	{% endif %}

    </figure>
{% endmacro %}
