{% from "components/general/text-multi-lang.njk" import text_multi_lang as text_multi_lang %}

{% macro bibliography(bibliography) %}

{% set i = 0 %}
	<div class="project-bibliography clearfix">

		<div class="bibliorgraphy_col">
			
		
		
		{% for item in bibliography %}

			{% if item.type == "item" %}

				{% set i = i + 1 %}

			<div class="project-bibliography-item" id="footnote{{ i }}">
			
				<span class="project-bibliography-number">[{{ i }}]</span>

				<div class="project-bibliography-text">
					{{ text_multi_lang(item.item, item.item_in) }}
				</div>
		    </div>

		    {% elif item.type == "column_break" %}


		    </div>

		    <div class="bibliorgraphy_col">
		    {% endif %}
		{% endfor %}

		</div>

	</div>
    
{% endmacro %}