{% macro caption(item) %}
	<figcaption class="project-caption-container">
		{% if item.nr %}
    		<span class="project-img-nr">IMG {{ item.nr }}</span>
    	{% endif %}
	
		<div class="project-caption">{{ item.caption|safe }}</div>
	</figcaption>
{% endmacro %}