<div id="media-controls">
			
	<div class="play-pause js-play-pause"></div>
	

	<div class="seek-bar-wrapper">
		<input type="range" class="seek-bar js-seek-bar" value="0">
		<div class="media-duration js-media-duration"></div>
	</div>
	

	<div class="fullscreen js-fullscreen">
		{% include "components/icons/fullscreen-icon.njk" %}
	</div>

</div>