.about-nav-outer-wrapper {
	display: block;
	position: fixed;
	top: $navigationPanelH;
	width: $ganeral-main-panel;
	height: $about-navigation-h;
	padding: $gutter;
	border-bottom: $borderW solid $border-color;
	background: $background;
	font-size: $about-navigation-font-size;

	@include bp-s {
		top: $navigationPanel-h-bps;
		width: 100vw;
		height: $about-navigation-h-bps;
		padding: $gutter-bps;
        font-size: $about-navigation-font-size-bps;
        line-height: 1;
        letter-spacing: 0.05vw;
    }
}


.about-nav-inner-wrapper {
	float: left;
	width: $about-navigation-font-size * 40;

	@include bp-s {
		width: $about-navigation-font-size-bps * 40;
	}
}


.about-nav-item{
	
	float: left;
	width: $about-navigation-font-size * 15;
	cursor: pointer;

	@include bp-s {
		width: $about-navigation-font-size-bps * 15;
	}

	&:before {
		content: '';
		display: inline-block;
		width: $about-navigation-font-size / 1.5;
		height: $about-navigation-font-size / 1.5;
		border: 1px solid $white;
		border-radius: 60%;
		cursor: pointer;

		@include bp-s {
			width: $about-navigation-font-size-bps / 1.5;
			height: $about-navigation-font-size-bps / 1.5;
		}
	}

	&:hover:before, &.active:before { background-color: $white; }
}

