.about-section {
	width: $about-section-w;
	margin: 0 auto;
    padding: $project-overview-padding;

    @include bp-s {
        padding: $project-overview-padding-bps;
        border-bottom: $borderW solid $border-color;
    }
}
