* {
  box-sizing: border-box;
}


body {
  width: 100vw;
  background: $background;
  overflow-x: hidden;
  font-family: $text;
  color: $text-color;
  line-height: 1.2;
  letter-spacing: 0.05vw;
}


.hidden {
  display: none;
}


i {
	font-family: $italic;
}


sup {
	vertical-align: super;
	font-size: 70%;
}


a:hover {
  font-family: $italic;
  &:not(.project-overview-item) {
    font-family: inherit;
  }
}
