* {
  box-sizing: border-box;
}


body {
    width: 100vw;
    background: $background;
    overflow-x: hidden;
    font-family: $text;
    color: $text-color;
    line-height: 1.2;
    letter-spacing: 0.05vw;  

    @include bp-portrait {
      position: relative;
    }
}


.clearfix::after { 
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}


.hidden {
  display: none;
}

.hide {
  opacity: 0;
}


i {
	font-family: $italic;
}


sup {
	vertical-align: super;
	font-size: 70%;
}

a {
  font-style: normal;
}

a:hover {
  text-decoration: underline;
}

.project-overview-item a:hover, nav a:hover, a.project-next:hover {
    text-decoration: none;
}


address {
    text-decoration: none;
}
