{% from "components/general/text-multi-lang.njk" import text_multi_lang as text_multi_lang %}


{% macro item(author, description, description_in) %}
    <li class="about-contribution-item">

        <h3 class="name">{{ author|safe }}</h3>

        <p class="description about-text">
        	{{ text_multi_lang(description, description_in) }} 
        </p>

    </li>
{% endmacro %}
